  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }

  .linkText {
    margin-bottom: 30px; 
    margin-left: 150px; 
    font-style: italic; 
    font-weight: bold; 
    cursor: pointer;
  }

  .titleLogin {
    margin-bottom: 25px; 
    justify-content: center; 
    margin-left: 35px; 
    margin-top: 10px; 
    font-family: 'Courier New', Courier, monospace; 
    font-size: x-large; 
    font-weight: bold; 
    margin-left: 172px;
  }

  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    color: rgb(21, 20, 20);
    font-weight: 600;
    font-size: 25px;
  }

  .toolbar img {
    margin: 0 16px;
  }

  .toolbar #twitter-logo {
    height: 40px;
    margin: 0 8px;
  }

  .toolbar #youtube-logo {
    height: 40px;
    margin: 0 16px;
  }

  .toolbar #pill-logo {
    height: 40px;
    margin: 0 16px;
  }
  .toolbar #logout {
    height: 22px;
    margin: 0 16px;
  }

  .toolbar #twitter-logo:hover,
  .toolbar #youtube-logo:hover,
  .toolbar #pill-logo:hover {
    opacity: 0.8;
  }

  .content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }

  svg#rocket {
    width: 90px;
    position: absolute;
    left: -20px;
    top: -24px;
  }
  svg#new-presc {  
    width: 90px;
    position: absolute;
    left: -10px;
    top: 1px;
  }

  a,
  a:visited,
  a:hover {
    color: #1976d2;
    text-decoration: none;
  }

  a:hover {
    color: #125699;
  }

  footer {
    margin-top: 250px;
    display: flex;
    justify-content: center;
    line-height: 20px;
    font-size: small;
  }

  .button  {
    width: 71px; 
    height: 68px; 
    margin-right: 230px;
  }
  .button2  {
    height: 68px; 
    margin-right: 25px;
    margin-left: 5px;
  }
  .button3  {
    height: 68px; 
    margin-right: 10px;
    /* margin-left: 5px; */
  }
  .filter {
    margin-top: 20px; 
    display: flex; 
    flex-direction: row; 
    justify-content: space-between;
  }
  .login {
    margin-top: 200px; 
    margin-right: 500px; 
    flex-direction: row; 
    justify-content: space-between; 
    justify-content: center; 
    margin-left: 500px;
    border-color: gray;
    border-style: solid;
    border-radius: 5%;
  }

  .forgot-section {
    margin-left: 300px;
    margin-top: 300px;
  }
  .forgot-div {
    margin-top: 20px;
    display: flex;
  }
  .forgot-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .forgot-full-width {
    width: 100%;
  }
  .email-form {
    min-width: 150px;
    max-width: 350px;
    width: 100%;
    margin-left: 35px;
  }
  .pwd-form {
    min-width: 150px;
    max-width: 350px;
    width: 100%;
    margin-top: 30px;
    margin-left: 35px;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  .button:focus {     
    background-color:yellow;    
  }

  /* Responsive Styles */
  /* @media screen and (max-width: 767px) {
    svg#rocket-smoke {
      right: 120px;
      transform: rotate(-5deg);
    }
  }

  @media screen and (max-width: 575px) {
    svg#rocket-smoke {
      display: none;
      visibility: hidden;
    }
  } */