<div style="display: flex; flex-direction: column; align-items: center; margin-top: 200px;" [formGroup]="registerForm">
    <span style="margin-bottom: 20px;">Reset Password</span>
    <mat-form-field appearance="fill" style="width: 236px;">
        <mat-label>User</mat-label>
        <input type="email" name="email" matInput formControlName="email" [errorStateMatcher]="matcher">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>New password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="newPassword">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <div *ngIf="newPassword.invalid && (newPassword.dirty || newPassword.touched)" class="form-text text-danger">
            <div *ngIf="newPassword.errors?.['required']">
                Field is required
            </div>
            <div *ngIf="newPassword.errors?.['pattern']">
                Password must contain at least one number, one uppercase and a
                lowercase letter and at least 8 characters<br />Password cannot
                contain whitespace
            </div>
        </div>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Confirm new password</mat-label>
        <input matInput [type]="hide2 ? 'password' : 'text'" formControlName="confirmPassword">
        <button mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide2">
            <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <div *ngIf="
                        confirmPassword.invalid &&
                        (confirmPassword.dirty || confirmPassword.touched)
                      " class="form-text text-danger">
            <div *ngIf="confirmPassword.errors?.['required']">
                Field is required
            </div>
            <div *ngIf="confirmPassword.errors?.['pattern']">
                Password must contain at least one number, one uppercase and a
                lowercase letter and at least 8 characters<br />Password cannot
                contain whitespace
            </div>
            <div *ngIf="confirmPassword.errors?.['confirmedValidator']">
                Passwords did not match
            </div>
        </div>
    </mat-form-field>
    <div style="display: flex;">
            <div class="button2">
              <button type="submit" (click)="onSubmit()" [disabled]="registerForm.invalid" mat-stroked-button>Register</button>
            </div>
            <div class="button" class="btn btn-light col-5 mx-auto" (click)="goBack()">
              <button mat-raised-button color="primary">Go Back</button>
            </div>
      </div>
</div>